* {
  box-sizing: border-box;
}

:root {
  --sample-img: url('https://images.unsplash.com/photo-1678895223308-da40c609e39b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80');
}

body {
  background: #334;
  display: grid;
  place-items: center;
}

main {
  --num-cols: 1;
  --gap: 40pt;

  margin: var(--gap) 0;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-gap: var(--gap);
  justify-items: center;
  align-items: start;
}

main article:hover {
  transform: scale(1.02);
}

main article:hover::after {
  filter: brightness(.7);
}

main article {
  transition: .2s transform ease-in;
  transform-origin: center center;
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 10pt;
  display: grid;
  padding: 20pt;
  grid-gap: 10pt;
  cursor: pointer;
  box-shadow: 0 3px 12px #333;
  grid-template-areas: 
    "profpic username menu"
    "content content content"
    "title title title";
  grid-template-columns: 40pt auto 60pt;
  grid-template-rows: 40pt auto min-content;
  color: #eef;
  font-family: "Adobe Caslon Pro", serif;
}

main article > {
  z-index: 3;
}

main article::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  background-image: var(--sample-img);
  background-size: cover;
  filter: brightness(.4);
  z-index: -1;
  border-radius: inherit;
  transition: .1s filter ease-in;
}


article .profpic {
  border-radius: 50%;
  border: 1px solid #667;
}

article span {
  align-self: center;
  font-family: "Avenir Book";
}

article p {
  grid-area: content;
  align-self: end;
}

article h1 {
  grid-area: title;
  color: #ace;
  text-transform: uppercase;
  font-family: "Avenir Book";
  font-size: 3rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
}

a {
  color: cyan;
  font-style: oblique;
}

a.external {
  color: orangered;
}